asn1crypto==0.24.0
cffi==1.12.3
cryptography==2.6.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.11.29
django-dotenv==1.4.1
django-grip==3.0.0
django-toolbelt==0.0.1
enum34==1.0.4
gripcontrol==4.0.0
gunicorn==19.5.0
ipaddress==1.0.22
ipython==3.1.0
ndg-httpsclient==0.3.3
psycopg2==2.8.2
pubcontrol==3.0.0
pyasn1==0.1.7
pycparser==2.10
PyJWT==1.7.1
pyOpenSSL==19.0.0
pytz==2020.1
requests==2.6.0
rethinkdb==2.2.0.post4
six==1.15.0
static3==0.5.1
Werkzeug==0.16.1
whitenoise==1.0.6
